body {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin: 0 auto;
}

.card {
  // transition: .15s all ease;
  display: flex;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, .15), 0 0 0 transparent;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    box-shadow:
      0 4px 8px hsla(0, 0%, 0%, .15),
      0 0 3px 3px rgb(238, 151, 0);
  }
  &--picked {
    background-color: hsl(138, 94%, 81%);
  }
}

.card--rarity-basic,
.card--rarity-starter {
  border-left: 4px solid hsl(0, 0%, 76%);
}
.card--rarity-common {
  border-left: 4px solid hsl(0, 0%, 48%);
}
.card--rarity-uncommon {
  border-left: 4px solid hsl(183, 67%, 70%);
}
.card--rarity-rare {
  border-left: 4px solid hsl(40, 99%, 64%);
}

ul.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
