body {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  margin: 0 auto;
}

.item-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  li > * {
    border-bottom: 1px solid #ccc;
  }
  li:last-child > * {
    border-bottom: 0;
  }
}

.card {
  // transition: .15s all ease;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  border-left: 4px solid transparent;
  cursor: pointer;
  &:hover {
    background-color: rgb(253, 253, 214);
  }
  &--picked {
    background-color: hsl(138, 94%, 81%);
  }
}

.card--rarity-basic,
.card--rarity-starter {
  border-left: 4px solid hsl(0, 0%, 76%);
}
.card--rarity-common {
  border-left: 4px solid hsl(0, 0%, 48%);
}
.card--rarity-uncommon {
  border-left: 4px solid hsl(183, 67%, 70%);
}
.card--rarity-rare {
  border-left: 4px solid hsl(40, 99%, 64%);
}

ul.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
